name: repoman

on:
  push:
    branches:
      - main
      - development
    paths:
      - 'app-crypt/**'
      - 'dev-python/**'
      - '.github/workflows/**'
  pull_request:
    branches:
      - main
      - development
    paths:
      - 'app-crypt/**'
      - 'dev-python/**'
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup master gentoo repository
      run: |
        ./scripts/setup-master-gentoo.sh
    - name: Setup and run Repoman
      run: |
        ./scripts/setup-and-run-repoman.sh

